header {
    display: flex;
    justify-content: space-between;
}

#question {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
}

button {
    text-align: left;
    display: flex;
    background-color: purple;
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 100px;
    padding: 10px;
    min-width: 50rem;
    
}


/* see what I need to change to put it on the same line, it needs to be different from padding probably */
.choice-text {
    padding: 1rem;
}


.choice-prefix {
    text-align: left;
}

.quiz {
    max-width: 600px;
    margin:auto;
 
}

.choice-container:hover {
    background-color: #2A2F33;
    border-color: #2A2F33
  }

  .hide {
    display: none;
  }